<h1>Activities Logs</h1>

<ul>
  <li><p>Image 1 was <span class="event">CLICK</span> on <span class="time">May 1st, 2018 : 10:55 Am</span></p></li>
  <li><p>Image 1 was <span class="event">CLICK</span> on <span class="time">May 1st, 2018 : 10:55 Am</span></p></li>
  <li><p>Image 1 was <span class="event">CLICK</span> on <span class="time">May 1st, 2018 : 10:55 Am</span></p></li>
  <li><p>Image 1 was <span class="event">CLICK</span> on <span class="time">May 1st, 2018 : 10:55 Am</span></p></li>
  <li><p>Image 1 was <span class="event">CLICK</span> on <span class="time">May 1st, 2018 : 10:55 Am</span></p></li>
  <li><p>Image 1 was <span class="event">CLICK</span> on <span class="time">May 1st, 2018 : 10:55 Am</span></p></li>
  <li><p>Image 1 was <span class="event">CLICK</span> on <span class="time">May 1st, 2018 : 10:55 Am</span></p></li>
</ul>
